
@font-face {
    font-family: 'MonumentExtended';
    src: url('fonts/monumentextended-black-webfont.woff2') format('woff2'),
         url('monumentextended-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


:root {
    --primary-color: #FC9D46 ;
    --secondary-color: #24252a ;
    --light-dark-color: #3A3B3F;
    --white-color: #FFFFFF;
    --grey-white-color: #EDEDED;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
    h1 {
        font-family: "MonumentExtended", sans-serif;
        font-size: 2rem;
        color: var(--secondary-color);
    }

    h2 {
        font-family: "MonumentExtended", sans-serif;
    }

    a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: var(--secondary-color);
        font-weight: 300;
    }


    h3 {
        font-family: "Poppins", sans-serif;
        color: var(--secondary-color);
    }

    h4 {
        font-family: "Poppins", sans-serif;
        color: var(--secondary-color);
    }

    p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        color: var(--light-dark-color);
    }
}

.header-container {
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--secondary-color);
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    background-color: var(--secondary-color);
    width: 100vw;
    //position: fixed;
    //z-index: 9;

    .header {
        
        display:  flex;
        justify-content: space-between;  
        height: 8vh;
        align-items: center;

        input.search {
            background-color: var(--light-dark-color);
            color: var(--white-color);
            place-content: center;
            padding-left: 2em;
            height: 2.7em;
            border: none;
            border-radius: 4em;
        }
        ::placeholder {
            font-size: 1rem;
            color: var(--grey-white-color);
            font-family: "Poppins", sans-serif;
        }
    }
    
    nav {
        display:none;
        position: fixed;
        z-index: 999;
        margin-top: 40%;
        height: 30vh;
        width: 100vw;
        margin-left:-5%;
        margin-right: 0;
        background: var(--secondary-color);
         
        ul.secondary-nav {
            text-align: right;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 5% 5%;

            li {
                padding-top: 5%;

                a {
                    font-family: "MonumentExtended", sans-serif;
                    color: var(--white-color);
                    font-size: 1.6rem;

                    svg.icon {
                        fill: none;
                    }

                    &:hover{
                        color: var(--primary-color);
                        path {
                            fill: var(--primary-color);
                        }
                    }
                    
                }

            }
            
           
        }
    }
}

//come back to this - making sticky
/*.sticky {
    position: fixed;
    z-index: 9;
}*/

section.categories {
    background-color: var(--grey-white-color);
    display: flex;
    align-items: center;
    height: 6vh;
    overflow: auto;
    
        ul.categories-list {
            list-style-type: none;
            display: flex;
            overflow: auto;
            justify-content: space-between;
            align-items: center;
         
            a {
                background-color: var(--white-color);
                padding: 0.5em 0.8em;
                margin-right: 0.6em;
                border-radius: 100em;
            }

            a:hover {
                color: var(--white-color);
                background-color: var(--primary-color);
            }

            a.categories-selected {
                color: var(--white-color);
                background-color: var(--primary-color);
            }
            
        }
}


section.hero {
    background-image: url('../images/hero-img.png');
    background-size: cover;
    position: absolute;
    height: 25vh;
    display: flex;
    align-items: center;

    h1 {
        color: var(--white-color);
    }
}

section.content {
    position: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60%;

    .movie-row {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        
        .movie-col {
            display:flex;
            justify-content: space-between;
            margin-bottom: 2em;
            
            .empty {
                width: 4%;
            }

            .movie {
                display: flex;
                flex-direction: column;
                
                .movie-img {
                    width: 100% ;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }
                .movie-title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 0.8em;

                    h3 {
                        margin-top: 0.5em;
                        max-width: 12rem;
                      
                    }
                }
                .movie-time {
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

}


@media only screen and (min-width:768px) {

    header { 
        .header {
            height:15vh;

            input.search{
                width: 50vw;
            }
        }
    }
  
    section.categories {
        height: 10vh;

        a {
            font-size: small;
        }
    }

    section.hero {
        height: 40vh;
        width: 100vw;

        h1 {
            max-width: 50vw;
        }
    }

    section.content {
        margin-top: 45%;

        .movie-row{
            .movie-col{
                .movie{
                    width: 45vw;

                    .movie-img {
                        max-height: 10em;
                        aspect-ratio: 16/9;
                    }

                    .movie-title {
                        h3 {
                            max-width: auto;
                            min-height: auto;
                        }
                    }
                }
                .empty {
                    width: 10%;
                }
            }
        }
    }

}

@media only screen and (min-width:1080px) {

    .container {
        margin-left: 6%;
        margin-right: 6%;
    }

    .header-container {
        margin-left: 6%;
        margin-right: 6%;
    }

    header {
        .header {
            height: 12vh;

            input.search{
                width: 36vw;
                height: 5.6vh;

            }

            .logo {
                width: 5%;
            }

            .menu-open {
                display: none;
            }

            nav {
                display: flex;
                background: none;
                position: relative;
                align-items: center;
                z-index: 0;
                margin-top: 0;
                //margin-right: -12%;
                //margin-left: 0;
                justify-content: flex-end;
                width: 30%;
                height: auto;

                ul.secondary-nav {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1em;
                    padding: 0;

                    li {
                        svg.icon {
                            margin-top: 0.5em;
                            width: 50%;
                        }
                        a {
                            padding: 1em;
                          
                            font-family: "Poppins", sans-serif;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }

    section.categories {
        display: flex;
        place-content: center;
        overflow: hidden;
        height: 7vh;
        width: 100%;

        ul.categories-list {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            height: 6vh;
            max-width: 90vw;

            a {
                font-weight: 500;
                margin-right: 2em;
                padding: 0.3em 0.8em;
            }
        }
    }

    section.hero {
        height: 44vh;
        h1 {
            font-size: 2.6rem;
            max-width: 70%;
        }
    }

    section.content {
        margin-top: 25%;
        display: flex;
        
        h2 {
            font-size: 2rem;
        }
        
        .movie-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .movie-row { 
                flex-direction: row;
                width: 90vw;
                justify-content: space-between;

                .movie-col {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 80vw;
                    padding-right: 2em;

                    .empty {
                        width: 2%;
                    }
                    .movie {
                        width: 20vw;
                        height: 100%;

                        .movie-title {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            height: auto;
                            min-height: 24%;

                            h3 {
                                width: auto;
                                height: auto;
                                min-width: 84%;
                                min-height: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
} 
