@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@font-face {
  font-family: 'MonumentExtended';
  src: url("fonts/monumentextended-black-webfont.woff2") format("woff2"), url("monumentextended-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #FC9D46 ;
  --secondary-color: #24252a ;
  --light-dark-color: #3A3B3F;
  --white-color: #FFFFFF;
  --grey-white-color: #EDEDED;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* h1 {
  font-family: "MonumentExtended", sans-serif;
  font-size: 2rem;
  color: var(--secondary-color);
}

* h2 {
  font-family: "MonumentExtended", sans-serif;
}

* a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  font-weight: 300;
}

* h3 {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}

* h4 {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}

* p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--light-dark-color);
}

.header-container {
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--secondary-color);
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

header {
  background-color: var(--secondary-color);
  width: 100vw;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header input.search {
  background-color: var(--light-dark-color);
  color: var(--white-color);
  place-content: center;
  padding-left: 2em;
  height: 2.7em;
  border: none;
  border-radius: 4em;
}

header .header ::-webkit-input-placeholder {
  font-size: 1rem;
  color: var(--grey-white-color);
  font-family: "Poppins", sans-serif;
}

header .header :-ms-input-placeholder {
  font-size: 1rem;
  color: var(--grey-white-color);
  font-family: "Poppins", sans-serif;
}

header .header ::-ms-input-placeholder {
  font-size: 1rem;
  color: var(--grey-white-color);
  font-family: "Poppins", sans-serif;
}

header .header ::placeholder {
  font-size: 1rem;
  color: var(--grey-white-color);
  font-family: "Poppins", sans-serif;
}

header nav {
  display: none;
  position: fixed;
  z-index: 999;
  margin-top: 40%;
  height: 30vh;
  width: 100vw;
  margin-left: -5%;
  margin-right: 0;
  background: var(--secondary-color);
}

header nav ul.secondary-nav {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 5% 5%;
}

header nav ul.secondary-nav li {
  padding-top: 5%;
}

header nav ul.secondary-nav li a {
  font-family: "MonumentExtended", sans-serif;
  color: var(--white-color);
  font-size: 1.6rem;
}

header nav ul.secondary-nav li a svg.icon {
  fill: none;
}

header nav ul.secondary-nav li a:hover {
  color: var(--primary-color);
}

header nav ul.secondary-nav li a:hover path {
  fill: var(--primary-color);
}

/*.sticky {
    position: fixed;
    z-index: 9;
}*/
section.categories {
  background-color: var(--grey-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  overflow: auto;
}

section.categories ul.categories-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.categories ul.categories-list a {
  background-color: var(--white-color);
  padding: 0.5em 0.8em;
  margin-right: 0.6em;
  border-radius: 100em;
}

section.categories ul.categories-list a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

section.categories ul.categories-list a.categories-selected {
  color: var(--white-color);
  background-color: var(--primary-color);
}

section.hero {
  background-image: url("../images/hero-img.png");
  background-size: cover;
  position: absolute;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero h1 {
  color: var(--white-color);
}

section.content {
  position: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60%;
}

section.content .movie-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2em;
}

section.content .movie-row .movie-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

section.content .movie-row .movie-col .empty {
  width: 4%;
}

section.content .movie-row .movie-col .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.content .movie-row .movie-col .movie .movie-img {
  width: 100%;
  height: 100%;
}

section.content .movie-row .movie-col .movie .movie-img img {
  width: 100%;
  height: 100%;
}

section.content .movie-row .movie-col .movie .movie-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.8em;
}

section.content .movie-row .movie-col .movie .movie-title h3 {
  margin-top: 0.5em;
  max-width: 12rem;
}

section.content .movie-row .movie-col .movie .movie-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.content .movie-row .movie-col .movie .movie-time h4 {
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  header .header {
    height: 15vh;
  }
  header .header input.search {
    width: 50vw;
  }
  section.categories {
    height: 10vh;
  }
  section.categories a {
    font-size: small;
  }
  section.hero {
    height: 40vh;
    width: 100vw;
  }
  section.hero h1 {
    max-width: 50vw;
  }
  section.content {
    margin-top: 45%;
  }
  section.content .movie-row .movie-col .movie {
    width: 45vw;
  }
  section.content .movie-row .movie-col .movie .movie-img {
    max-height: 10em;
    aspect-ratio: 16/9;
  }
  section.content .movie-row .movie-col .movie .movie-title h3 {
    max-width: auto;
    min-height: auto;
  }
  section.content .movie-row .movie-col .empty {
    width: 10%;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    margin-left: 6%;
    margin-right: 6%;
  }
  .header-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  header .header {
    height: 12vh;
  }
  header .header input.search {
    width: 36vw;
    height: 5.6vh;
  }
  header .header .logo {
    width: 5%;
  }
  header .header .menu-open {
    display: none;
  }
  header .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
    margin-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30%;
    height: auto;
  }
  header .header nav ul.secondary-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    padding: 0;
  }
  header .header nav ul.secondary-nav li svg.icon {
    margin-top: 0.5em;
    width: 50%;
  }
  header .header nav ul.secondary-nav li a {
    padding: 1em;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
  section.categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    overflow: hidden;
    height: 7vh;
    width: 100%;
  }
  section.categories ul.categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    height: 6vh;
    max-width: 90vw;
  }
  section.categories ul.categories-list a {
    font-weight: 500;
    margin-right: 2em;
    padding: 0.3em 0.8em;
  }
  section.hero {
    height: 44vh;
  }
  section.hero h1 {
    font-size: 2.6rem;
    max-width: 70%;
  }
  section.content {
    margin-top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.content h2 {
    font-size: 2rem;
  }
  section.content .movie-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.content .movie-section .movie-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.content .movie-section .movie-row .movie-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80vw;
    padding-right: 2em;
  }
  section.content .movie-section .movie-row .movie-col .empty {
    width: 2%;
  }
  section.content .movie-section .movie-row .movie-col .movie {
    width: 20vw;
    height: 100%;
  }
  section.content .movie-section .movie-row .movie-col .movie .movie-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    min-height: 24%;
  }
  section.content .movie-section .movie-row .movie-col .movie .movie-title h3 {
    width: auto;
    height: auto;
    min-width: 84%;
    min-height: inherit;
  }
}
/*# sourceMappingURL=main.css.map */