@font-face {
    font-family: 'MonumentExtended';
    src: url('fonts/monumentextended-black-webfont.woff2') format('woff2'),
         url('monumentextended-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

// colors
:root {
    --primary-color:   hsla(29, 97%, 63%, 1) ;
    --primary-hover-color: hsla(29, 93%, 42%, 1);
    --dark-main-color: hsla(224, 32%, 9%, 1) ;
    --dark-beta-color: hsla(223, 36%, 14%, 1) ;
    --text-main-color: hsla(0, 0%, 100%, 1) ;
    --text-beta-color: hsla(225, 3%, 55%, 1) ;
    --success: hsla(140, 97%, 63%, 1);
    --danger: hsla(11, 97%, 63%, 1);
}
// fonts 
h1 {
    font-family: 'MonumentExtended', sans-serif;
    margin-top: 0;
}

h3 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

a, p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

// body
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-main-color);
}

.container {
    margin-left: 6%;
    margin-right: 6%;
}

// colors
h1, h2, h3, a, p {
    color: var(--text-main-color);
}


.logo { width: 4rem;}

// media queries
// 312, 768, 1024, 1280 
// MovieRow Divs from 1024 will span the availabe width while from 768 - 312 will overflow scroll